DB_NAME=fast_api
DB_USER=root
DB_PASSWORD=123456
DB_HOST=192.168.56.10
DB_PORT=3306

REDIS_HOST = 192.168.56.10
REDIS_PORT = 6379
REDIS_DB = 0

# MinIO 配置
MINIO_ENDPOINT=192.168.56.10:9990
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_SECURE=False
MINIO_BUCKET_NAME=knowledge-base

# Google联网搜索Key
GOOGLE_CSE_ID=xx
GOOGLE_API_KEY=xx

# 向量数据库配置
MILVUS_URI=http://192.168.56.11:19530

# Embedding 模型配置
# 选择向量模型提供商: dashscope 或 siliconflow
EMBEDDING_PROVIDER=siliconflow

# DashScope 配置（如果使用 dashscope）
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
ADVANCED_MODEL_NAME=qwen-plus
DASHSCOPE_API_KEY=xx
EMBEDDING_MODEL=text-embedding-v4

# SiliconFlow 配置（如果使用 siliconflow）
SILICONFLOW_API_KEY=xx
SILICONFLOW_EMBEDDING_MODEL=BAAI/bge-m3

